<h1>Sample App</h1>
<p>
  This is the home page for the Sample App.<br/>
    <b>
    <a href="http://192.168.241.34:3000/vendor">Vendor Database</a><br/>
    <a href="http://192.168.241.34:3000/part">Parts Database</a><br/>
    </b>
</p>
